@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tds-font-family-fallback-text: -apple-system, Arial, sans-serif;
        --tds-font-family-fallback-display: -apple-system, Arial, sans-serif;
        --tds-font-family-base-text: "Universal Sans Text";
        --tds-font-family-base-display: "Universal Sans Display";
        --tds-color-status-yellow: #ffc107;
        --tds-color-status-orange: #f29137;
        --tds-color-status-red: #eb432f;
        --tds-color-status-magenta: #e13e8c;
        --tds-color-status-purple: #863ee1;
        --tds-color-status-blue: #3e6be2;
        --tds-color-status-teal: #3eade1;
        --tds-color-status-green: #02b028;
        --tds-color-yellow: #fbb01b;
        --tds-color-white: #fff;
        --tds-color-red-20: #ed4e3b;
        --tds-color-red-10: #b74134;
        --tds-color-grey-70: #f4f4f4;
        --tds-color-grey-65: #eee;
        --tds-color-grey-60: #e2e3e3;
        --tds-color-grey-50: #d0d1d2;
        --tds-color-grey-45: #bbb;
        --tds-color-grey-40: #a2a3a5;
        --tds-color-grey-35: #8e8e8e;
        --tds-color-grey-30: #5c5e62;
        --tds-color-grey-25: #444;
        --tds-color-grey-20: #393c41;
        --tds-color-grey-15: #222;
        --tds-color-grey-10: #171a20;
        --tds-color-green: #12bb00;
        --tds-color-blue-40: #3368ff;
        --tds-color-blue-30: #3e6ae1;
        --tds-color-blue-20: #3457b1;
        --tds-color-black: #000;
    }

    @font-face {
        font-family: "Universal Sans Display";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/Universal-Sans-Display-Medium.woff2) format("woff2");
    }
    @font-face {
        font-family: "Universal Sans Text";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/Universal-Sans-Text-Medium.woff2) format("woff2");
    }
    @font-face {
        font-family: "Universal Sans Text";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Universal-Sans-Text-Regular.woff2) format("woff2");
    }
}

@layer base {
    /* * {
    @apply border-border;
  } */
    body {
        @apply bg-background text-foreground text-base;
    }
    strong {
        font-weight: 500;
    }
}
